*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  color: white;
  font-size: 20px;
  padding: 15px 37px;
  border-radius: 40px;
  background: #9C69E2;
}

.hero {
  margin-bottom: 100px;
}
.hero__container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.hero__title {
  color: #212353;
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  max-width: 645px;
  margin: 0 0 50px;
}
.hero__text {
  color: #4B5D68;
  max-width: 375px;
  line-height: 30px;
  margin: 0 0 50px;
}

.about {
  margin-bottom: 150px;
}
.about__border {
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 30px;
  padding-bottom: 40px;
}
.about__image-holder {
  max-width: 470px;
}
.about__content-holder {
  max-width: 475px;
  margin-right: 100px;
  padding-top: 70px;
}
.about__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: #212353;
  margin: 0;
  padding: 0 0 20px;
}
.about__text {
  color: #4B5D68;
  line-height: 30px;
}

.features__title-holder {
  text-align: center;
  max-width: 585px;
  margin: 0 auto;
  padding: 0 0 100px;
}
.features__title {
  color: #212353;
  font-size: 38px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 0 0 50px;
  margin: 0;
}
.features__text {
  color: #4B5D68;
  font-weight: 500;
}
.features__column {
  border-radius: 30% 10% 10% 15%;
  background-color: rgba(105, 201, 186, 0.1);
  padding: 30px 130px;
  position: relative;
  margin-bottom: 20px;
}
.features__heading {
  font-size: 24px;
  color: #212353;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0 0 20px;
}
.features__column-text {
  max-width: 220px;
  line-height: 27px;
  color: #4B5D68;
}
.features__link {
  color: #212353;
  font-weight: 700;
}
.features__image {
  position: absolute;
  top: 87px;
  right: 360px;
  max-width: 230px;
}

.testimonials {
  margin: 0 0 150px;
}
.testimonials__border {
  background-color: #9C69E2;
  border-radius: 30px;
}
.testimonials__title {
  color: white;
  font-size: 38px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 100px 0 90px 90px;
}
.testimonials__column-holder {
  padding: 0 0 130px;
}
.testimonials__column {
  max-width: 645px;
  background-color: white;
  border-radius: 15px;
  margin: 0 auto;
  -webkit-box-shadow: 0 20px 0 #7B5BA7;
          box-shadow: 0 20px 0 #7B5BA7;
}
.testimonials__content-holder {
  margin-right: 70px;
  padding-top: 80px;
  padding-bottom: 40px;
}
.testimonials__photo-holder {
  padding: 0 0 120px 70px;
}
.testimonials__photo {
  max-width: 90px;
}
.testimonials__name {
  color: #212353;
  font-weight: 700;
  display: block;
}
.testimonials__site {
  color: #9C69E2;
  font-weight: 500;
  font-size: 14px;
}
.testimonials__text {
  color: #4B5D68;
  max-width: 385px;
  padding-top: 15px;
  margin: 0;
  line-height: 32px;
}

.footer {
  border-top: 1px solid #9C69E2;
}