.features{

  &__title-holder{
    text-align: center;
    max-width: 585px;
    margin: 0 auto;
    padding: 0 0 100px;
  }

  &__title{
    color: $dark-blue;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 0 0 50px;
    margin: 0;
  }

  &__text{
    color: $gray;
    font-weight: 500;
  }

  &__column{
    border-radius: 30% 10% 10% 15%;
    background-color: rgb(41%, 79%, 73%, 0.1);
    padding: 30px 130px;
    position: relative;
    margin-bottom: 20px;
  }

  &__content-holder{
    //padding-top: 50px;
  }

  &__heading{
    font-size: 24px;
    color: $dark-blue;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0 0 20px;
  }

  &__column-text{
    max-width: 220px;
    line-height: 27px;
    color: $gray;
  }

  &__link{
    color: $dark-blue;
    font-weight: 700;

    &::after{

    }
  }

  &__image{
    position: absolute;
    top: 87px;
    right: 360px;
    max-width: 230px;
  }
}