.features{

  &__title-holder{
    text-align: center;
    max-width: 585px;
    margin: 0 auto;
  }

  &__title{
    color: $dark-blue;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 0 0 50px;
    margin: 0;
  }

  &__text{
    color: $gray;
    font-weight: 500;
  }
}