.testimonials{

  margin: 0 0 150px;

  &__border{
    background-color: #9C69E2;
    border-radius: 30px;

  }

  &__title{
    color: white;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 100px 0 90px 90px;
  }

  &__column-holder{
    padding: 0 0 130px;
  }

  &__column{
    max-width: 645px;
    background-color: white;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 0 20px 0 #7B5BA7;
  }

  &__content-holder{
    margin-right: 70px;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  &__photo-holder{
    padding: 0 0 120px 70px;
  }

  &__photo{
    max-width: 90px;
  }

  &__name{
    color: $dark-blue;
    font-weight: 700;
    display: block;
  }

  &__site{
    color: #9C69E2;
    font-weight: 500;
    font-size: 14px;
  }

  &__text{
    color: $gray;
    max-width: 385px;
    padding-top: 15px;
    margin: 0;
    line-height: 32px;
  }
}